* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
text-align: center;
}

header {
margin-top: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 1em;
}
